/.vs/SyscallMon/v16/.suo
/.vs/SyscallMon/v16/Browse.VC.db
/.vs/SyscallMon/v16/Browse.VC.db-shm
/.vs/SyscallMon/v16/Browse.VC.db-wal
/.vs/SyscallMon/v16/Browse.VC.opendb
/.vs/SyscallMon/v16/Solution.VC.db
/.vs/SyscallMon/v16/Solution.VC.db-shm
/.vs/SyscallMon/v16/Solution.VC.db-wal
/.vs/SyscallMon/v16/ipch/AutoPCH/197b1350674fca15/KERNEL_STL.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/1b3e4b68e96b6dd7/SYMLOADDIALOG.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/2208f4814c792351/PROCESSINFODIALOG.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/2bc2756349d80c10/CS_DRIVER_MM.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/375ab76d11ab2e43/HOOK.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/399a09eed3a14206/EVENTFILTER.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/3ad22d02a742fa9/EVENTMGR.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/41153cd11ec8988b/PROCESSMGR.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/47df4c696a04c6bf/SYSCALLMON.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/4d82fa2ae0f74f13/PS.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/5537d9fefbf88700/SHADOW_HOOK.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/5d6e01d208ef1767/FLTMSG.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/5f4ba082c3bb2387/EPT.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/5f80f0e3529c8015/FSFLT.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/60a4f16cc9af76bd/NOTIFY.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/61efaa5551a1abc/VMM.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/6890eae44b9f21a8/EVENTMGR.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/7babd81f7b7cd06e/EVENTTABLE.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/818727f6787739f0/DRIVER.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/87de37c314852f5d/PROCESSTREE.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/a4c9a8292db85f5a/CLICKABLELINEEDIT.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/ac01bd315671ea3c/CM.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/b974a13e9e35ef4d/PS.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/ba0d135067ee0a7/VM.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/ba82dffeaf8ec4a/LOG.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/c4c836c1a0999822/MODULEMGR.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/d158a677965ee55d/INJECT.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/d5099c8f7f96ff1f/MAIN.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/db35aa1488afd32e/UTIL.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/e9f88e9263ec855a/EVENTLIST.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/f25b471e1b5e2cbe/SSDT.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/f7f14c9461938f60/PROCLIST.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/fb591262d58634df/MINIDUMP.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/ff27cc1a71fb192d/RESOURCE.ipch
/.vs/SyscallMon/v16/ipch/AutoPCH/ff913bcd1baa356b/MESSAGE.ipch
